.post_card {
    background-color: white;
    width: 95vw;
    border-radius: 8px;
    height: 30vh;
    color: black;
    text-align: center;
}

.post_title{
    font-family: 'Raleway', sans-serif;  
    background-color: cadetblue;
    border-radius: 8px 0 0 8px
}


.subject {
    margin-top: 8vh;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 1em;
    color: cornsilk;
}


.searches{
    font-size: large;
    background-color: brown;
    color: white;
    border-radius: 5px;
    margin-top: 4vh;
    width: 60%;
    margin: 0 auto;
}

.last_updated{
    font-style: italic;
    font-weight: 800;
    font-size: small;
    margin-top: 8vh;
    color: aliceblue;
}

.card_content{
    height: 100%;
}